<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avisio.dashboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_avisio"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_avisio_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Avisio">
        <activity
            android:name=".usecase.training.activity.LearnBoxActivity"
            android:exported="false" />
        <activity
            android:name=".usecase.crud_card.edit_card.EditCardActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Avisio.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".usecase.crud_card.create_card.CreateCardActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Avisio.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".usecase.crud_box.edit_box.EditBoxActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Avisio.NoActionBar"
            android:label="@string/activity_edit_box"/>
        <activity android:name=".usecase.crud_box.box_list.BoxActivity"
            android:theme="@style/Theme.Avisio.NoActionBar" />
        <activity
            android:name=".usecase.crud_box.create_box.CreateBoxActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Avisio.NoActionBar"
            android:label="@string/title_activity_create_box"/>
        <activity
            android:name=".usecase.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Avisio.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>